.news-board-container {
    padding: 20px;
}

h2 {
    color: #171717;
    font-weight: bold;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

.news-item {
    border-radius: 5px;
    overflow: hidden;
    padding: 8px;
    background-color: white;
    color: #555;
}

.news-image {
    border-radius: 5px;
    width: 100%;
    height: 200px;
    max-height: 200px;
    object-fit: cover;
}

.news-body {
    padding: 10px;
}

.news-title {
    margin-top: 5px;
    margin-bottom: 8px;
    color: #c4170c;
    font-weight: bold;
}

.news-btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    text-decoration: none;
}

.news-btn:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

@media (max-width: 768px) {
    .news-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}