.newsBoardContainer {
    padding: 20px;
    background-color: #f0eded;
}

.currentDate,
.title {
    text-align: center;
}

.title {
    color: #171717;
    font-weight: bold;
}

.newsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

@media (max-width: 768px) {
    .newsGrid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}